<% provide(:title, 'Expert Advice') %>
<div id="contractor">
  <div id="contractor-col">
    <h1>Get Expert Advice</h1>

    <p><strong>Get a 30-minute consultation</strong> to review your job post with <a target="_blank" href="http://www.about.me/stephendrobinson">Steve</a> (normally a $250 charge) included in the price of your premium RubyNow jobs post.</p>

    <div>Topics to Discuss...</div>
    <ul>
      <li>What the typical salary and compensation packages are for developers</li>
      <li>How to focus your effort on the right candidates</li>
      <li>How to effectively scope the job position to your actual needs</li>
    </ul>

    <p><strong>Hiring programmers is hard</strong>. You must position your job, write messaging to maximize impact, and broadcast it effectively. Steve’s experience on both sides of the table gives him clear insights that you can leverage in your developer search.</p>

    <div>Why Steve?</div>
    <ul>
      <li>He's an <strong>active Rails developer</strong> with a strong tech background (EE PhD; Post Doc at Yale University; <strong>awarded a technology patent</strong>; and built and managed teams on multiple Rails projects over a 15-year career)</li>
      <li><strong>Staffed 50+ developers</strong> to over 30 companies in the last 6 years</li>
      <li>Founded a <a href="http://www.elmtalent.com">tech recruitment company</a> that works with global leaders in the finance and tech spaces to help them source top talent.</li>
    </ul>

    <p>Recently, Steve has taken over RubyNow and is currently renovating the site. Improving the user experience for posters and developers is his number one priority, and he'd love to hear any comments and suggestions you might have.</p>

  </div>

  <div id="contact-col">
    <img src="../images/contractor/sdrpic.jpg" class="contact-topbox">
    <h2 class="contact-topbox">Stephen Robinson PhD</h2>
    <p class="contact-title contact-topbox">Co-Founder and CTO</p>
    <div id="contact-info">
      <p class="contact-about">Feel free to contact Steve through any of the following:</p>

      <p class="getintouch">Get in Touch Now:</p>
      <div id="contact-data">
        <p id="phone">  <span class="contact-label">Phone:</span>+1 (203) 200-7119</p>
        <p id="skype">  <span class="contact-label">Skype:</span>
          <a href="skype:avity_steve?call">Skype Call Steve</a></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="clear" id="form-col">
    <h2>Any Questions?</h2>
    <div id="contact-form">
      <form method="post" id="new_feedback_form" class="new_feedback_form" action="http://jobs.rubynow.com/feedback" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="baytBPEAeudP93SM5uqqNAaanFfk0ZFf27c3pZSizRo=" name="authenticity_token"></div>
      <span id="form-col1">
        <label for="txtname">Your
          Name <span class="required">(*)</span>:</label><br>
          <input type="text" size="30" name="feedback_form[name]" id="feedback_form_name" class="textfield required"><br>
          
            <label for="txtemail">Email <span class="required">(*)</span>:</label><br>
            <input type="text" size="30" name="feedback_form[email]" id="feedback_form_email" class="textfield required email"><br>
          </span>
          <span id="form-message">
            <label for="txtmessage">Message <span class="required">(*)</span>:</label><br>
            <span class="textfieldarea">
              <textarea rows="20" name="feedback_form[message]" id="feedback_form_message" cols="40" class="required"></textarea>
            </span><br>
            <input type="submit" id="btnSend" value="Send">
          </span>
          <input type="hidden" value="CONTRACTOR" name="feedback_form[reason]" id="feedback_form_reason">
</form>
        </div>
      </div>
    </div>