<div class="span-24">
    <div id="article">
    <div class="span-18 colborder">

      <h1>Find a Great Ruby on Rails Developer</h1>
      <img alt="Help Wanted: Finding a Rails Programmer" src="images/find-dev-photohelpwanted.jpg" style="float: right; width: 250px;">

      <h2>It's Not Rocket Science...</h2>
      <p>Shame, because all your best ruby developers would be trying to solve the problem if it was. Rather, it’s a series of critical little steps that need to be done well in order to get you the results you want.</p>

      <h2>It's Neuroscience...</h2>
      <p>Why? There are thousands of companies, big and small, all trying to cut the line and get in front of the best ruby developers. So how do you stand out? SHOUT LOUDER? Nope, you just have to work harder and be scientific. Here’s how.</p>

      <h3>The 3 Stages</h3>
      <ol>
       <li>Scope the Job &ndash; “Does the role make sense?”</li>
       <li>Message for Impact &ndash; “Will Ruby on Rails developers read my post?"</li>
       <li>Source Candidates &ndash; “Where do they hang out?”</li>
     </ol>
     <p>Whether you take on the hiring yourself, turn to a recruiter, or delegate it to your internal HR department, the quality of your developer will depend on these three steps. Make sure you’re approaching each optimally.</p>

     <hr>

     <h2>1: Does this Rails Job Make Sense?</h2>
     <div class="span-22">
      <div class="span-4">
        <img alt="Finding Programmers Often Leads to Confusion" src="images/find-dev-photoquestioning.jpg" style="width:120px">
      </div>
      <div class="span-13">
        <p>Recruiters often talk about “white elephant” or “unicorn” searches in reference to searches that have limited to non-existent candidate flow. <br>

          <b>This is critical to avoid</b> because the first two steps are all about attracting as many quality candidates as you can. Before we get into how you should scope your job to be realistic, let’s look at a few common mistakes. <br>
        </p>
        <br>
      </div>
    </div>

    <h3>Example 1: The Linux and Windows Expert …</h3>
    <p><b>Situation:</b> You are a SAAS company that sells analysis tools. The calculations were created by a long gone PhD who only wrote in C# which currently runs on a Window machine, and it’s connected to your Rails application &mdash; the primary point of interaction with your clients. <br><br>

      Usage is taking off and you want an expert in both Linux and Windows to ensure that both systems will scale securely and respond to alerts at 3am on a Sunday morning. Let’s write up a post for just that. We know what we want right? Well let’s look at the space of developers with those skill sets …
    </p>

    <img alt="Avoid White Elephant Searches" src="images/find-dev-senior-junior.png" style="float: center; margin-left: 10px; margin-bottom:20px;">

    <p><b>Problems:</b></p>
    <ol>
      <li>Admins tend to gravitate to Linux OR Windows so that creates the limited overlap. </li>
      <li>As they get more experienced in one, they have less time to be familiar with the other.</li>
      <li>Prying this person away from their job would most likely be hard and prohibitively expensive.</li>
    </ol>
  <p></p>

  <p><b>Resoutions:</b></p>
  <ol>
    <li>If you can afford it, consider creatings two positions and hiring for each. </li>
    <li>If you can only afford one, what’s more important: Linux or Windows? I’ll take a guess that Linux is the way that this company is going. You could train that person in the Windows systems with the help of a consultant as needed.</li>
    <li>How about getting rid of the Windows setup? Talk to your CTO and find out if there’s a roadmap for this. It might be as simple as having the C# code run under the Mono project.</li>
  </ol>
<p></p>

<hr>

<h3>Example 2: Expert Developer who Fixes Routers…</h3>
<p>
  </p><ul>
    <li><b>Situation: </b>“We need a Ruby on Rails developer in San Francisco with TDD and BDD experience, who understands MySQL and NoSQL databases and can solve general IT questions.” </li>
    <li><b>Problem: </b>Does an awesome developer want to be resetting your router? Do you want the developer’s deep meditative programming state to be fragmented by IT questions?  </li>
    <li><b>Resolution: </b>Split the role. Solve the office infrastructure issues another way.</li>
  </ul>
<p></p>
<hr>

<h3>Example 3: No Money Seeks Unaffordable Developer…</h3>
<p>
  </p><ul>
    <li><b>Situation: </b> “We’re a self funded startup in NYC looking for a fulltime, on-site CTO to join our team. We have limited funds but are willing to offer some equity.” </li>
    <li><b>Problem: </b> Anyone with a high level of Ruby on Rails experience has a huge opportunity cost if they’re based in NYC.  </li>
    <li><b>Resolution: </b> Explore telecommute candidates who you could fly in once a quarter. Costs go down and you’ll raise more interest from the community.  You could also position the job as a CTO in training and expect the person to grow into the role.</li>
  </ul>
<p></p>

<hr>

<h3>Don’t Over Specify the Role</h3>
<img alt="All qualifications limit the applicant pool. Make sure the applicant you're looking for exists." src="images/find-dev-dont-ask.png" style="float: left; margin-right: 20px; margin-bottom:20px; width:250px;">
<p>
  Scoping is about challenging what you want in a candidate to increase application flow-rate. Note that the big problem here is over specifying. Don’t let the Ruby on Rails developer you would love to hire filter themselves out at this stage. If you are getting limited responses, you need to cast a wider net. <br><br>

  Many smart and large organizations get this step wrong. Tragically, they often talk themselves into why the role needs to be just so, and yet they never realize that it causes their dearth of candidates. This step is key. If you keep asking for white elephant, Ruby on Rails developers, you might as well not bother asking.<br><br>

  Getting a handle on what makes sense from a scoping perspective takes tough love and discipline, but hopefully the pitfalls of over-specifying are clear. Now that you’re casting a wider net into the pool of ruby programmers, let’s talk about crafting your position in a way that appeals to candidates.
  <br><br>
</p>

<hr>

<h2>2: Messaging for Impact</h2>

<p>Once you’ve got the scope of your job outlined, you need to work on how to message it for maximum impact. Remember that however much you might think this is an awesome opportunity, you need to see it from their side.<br><br>

  Let’s say you are RubyNow.com, looking for a new Ruby on Rails developer...</p>

  <img alt="Expectations are normally self-centered. Remember that Rails programmers are in hot demand." src="images/find-dev-expectation.png" style="float: left; margin-right: 20px; margin-bottom:20px;">

  <h3>How do you Stand Out?</h3>
  <p>Posting on a niche jobs board is an important first step. Solely by doing this, you’re limiting the number of daily posts by a factor of 10 or 100. Still, you have to understand that they might only look at your job post for fractions of a second before making a decision whether to click and read more. Let’s first talk about what content you should include and then how you should structure it.</p>

  <h3>What does a Ruby on Rails Developer care about...</h3>
  <div class="dev-concerns">
    <div class="span-22">
      <div class="span-3">
        <img alt="Cool Technologies Icon" style="width:60%; float: center; margin-top:15px;" src="images/find-dev-technologies.png">
      </div>
      <div class="span-16 last">
        <h4>Cool Technologies </h4>
        <ol>
          <li>What kind of cool tech will they use and learn? Haml, Sass, Coffeescript, Bootstrap.js, Ember.js? </li>
          <li>What kinds of cloud patforms and CMS software? AWS, Chef? Puppet? JRuby? JBoss? </li>
          <li>What kinds of databases? PostgreSQL? MongoDB?</li>
        </ol>
      </div>
    </div>

    <div class="span-22">
      <div class="span-3">
        <img alt="Interesting Projects Icon" style="width:60%; float: center; margin-top:15px;" src="images/find-dev-interesting-projects.png">
      </div>
      <div class="span-15">
        <h4>Interesting Projects </h4>
        <ol>
          <li>What projects will they have a chance to work on? </li>
          <li>What longer-term problems are you tackling that they might be excited about? </li>
          <li>What’s exciting about what you do and what they will do?</li>
        </ol>
      </div>
    </div>

    <div class="span-22">
      <div class="span-3">
        <img alt="Work Environment Icon" style="width:60%; float: center; margin-top:15px;" src="images/find-dev-team.png">
      </div>
      <div class="span-15">
        <h4>Team/Work Environment</h4>
        <ol>
          <li>Will they work on their own or in a team? </li>
          <li>Who’s on the team? How big is it? Do they like what they are doing? </li>
          <li>How will you treat them? Will you listen and/or want their opinion? </li>
          <li>Can they work from home? If so, to what extent? What’re the expected hours? </li>
        </ol>
      </div>
    </div>

    <div class="span-22">
      <div class="span-3">
        <img alt="Career Building Icon" style="width:60%; float: center; margin-top:15px;" src="images/find-dev-building.png">
      </div>
      <div class="span-15">
        <h4>Building a Career </h4>
        <ol>
          <li>Are you a name brand company that will improve their resume? </li>
          <li>Will you let them contribute to open source projects? </li>
          <li>What mentorship can you offer within the company? </li>
        </ol>
      </div>
    </div>

    <div class="span-22">
      <div class="span-3">
        <img alt="Start-up Icon" style="width:60%; float: center; margin-top:15px;" src="images/find-dev-startup.png">
      </div>
      <div class="span-15">
        <h4>If you’re a startup... </h4>
        <ol>
          <li>How much are you going to be paying? (how explicit do you want to be?) </li>
          <li>How much equity will you be giving out? (how explicit do you want to be?) </li>
          <li>How well funded is the company? Justify why they should invest in the company with their time and experience. </li>
        </ol>
      </div>
    </div>

    <div class="span-22">
      <div class="span-3">
        <img alt="Company Icon" style="width:60%; float: center; margin-top:15px;" src="images/find-dev-company.png">
      </div>
      <div class="span-15">
        <h4>If you’re an established company... </h4>
        <ol>
          <li>How much are you going to be paying? (how explicit do you want to be?) </li>
          <li>Be clear about the risk reward profile and why that’s what a lot of people want. </li>
          <li>What’s a common career path at your company? What could the candidate expect?</li>
          <li>Talk about investing in them: training, conferences, sick days, work schedule,etc.</li>
        </ol>
      </div>
    </div>


  <br>
  <p>That’s just a non-exhaustive list of things you can comb through to get started, but really think about why someone might be excited to work with you.If you're not excited by the post or the position, why would they be? </p>
</div>
<hr>
<h2>How Should I Structure My Rails Job Post?</h2>
<p>No two job posts should be the same, but they often are. Let’s talk about possible sections, their respective weightings and how you can make your post stand out in the crowd.</p>

<h4><b>Ruby on Rails Job Post Section Ideas</b></h4>

<ol>
  <li><b>About You</b>: Keep this short and snappy, don’t lose their attention </li>
  <li><b>What They Will Do</b>: Tell a story about the kinds of projects they could work on  </li>
  <li><b>Who's on the Team</b>: Give them a picture of a day they can get excited about</li>
  <li><b>Cool Technologies</b>: what technologies they will touch, use and learn</li>
  <li><b>Who Are You Looking For</b>: what are your requirements for the position</li>
  <li><b>Who Should Apply</b>: Rails Noobs, Rails programmers with 2 years of experience, developers looking for a career change, etc.</li>
  <li><b>Salary Expectations</b>: Don’t leave a vacuum. Even if you don't give a concrete number, at least give some guidance</li>
</ol>

<h4><b>Thinking Fast and Slow</b></h4>
<p>There's a lot of neuroscience out there that says that people think with a quick, emotional, intuitive "monkey brain" and a slow, analytic "human" brain. Your job post needs to satisfy the monkey brain long enough to engage the analytic brain. Here are a couple ways to accomplish that:</p>

        <ol>
          <li>Formatting is important to keep a good visual flow. Squint at the page see if it’s friendly.</li>
          <li>Use Bold to keep the eye scanning the page for goodies to read. Note your brain will wander around the page and then dig in. Think about a kid browsing a Christmas tree looking for the easy candy! </li>
          <li>Avoid using business speak. Use actual information vs. bland phrases.</li>
        </ol>
<hr>

<h2>3: Sourcing Candidates</h2>
<p>Now that the content is written, it’s time to get the word out. Below is a table that brakes down the different methods based off effort and return. Top right is lowest effort with highest return. Let’s review... </p>

<img alt="Maximize the ROI. Posting on RubyNow and other Niche Rails jobs boards is low effort, high return." src="images/find-dev-matrix.png" style="float: center; margin-bottom:20px;">

<h4>Win the Fast-Cheap Points First</h4>
<p>Post your job to a niche Ruby jobs board. It doesn’t cost much, but every Ruby on Rails developer that stops by will see your post. Certain Jobs Boards will also email individual jobs to their list of opt-in ruby programmers and tweet it to all of their followers.

  A loud megaphone is important, but RubyNow isn’t a magic developer-magnet that will tractor beam candidates into a terrible job post. If you didn’t get steps 1 and 2 right, it doesn’t matter how big the megaphone is, you’ll still not get what you’re looking for. That said, you can post multiple times to test different recruiting strategies and then adapt your post for other sourcing channels.</p>

  <h4>Email Your Friends and Tech Friends</h4>
  <p>Get the word out on your and your team's network. Ask them to email around and tweet to their friends about the position. It’s a smaller network, but the connection should result in higher impact. </p>

  <h4>Maximize your ROI</h4>
  <p>Work through the other squares to get the most impact from your valuable time and resources. This isn’t meant to be a complete list, but a guide for your thinking and your approach with regards to your Ruby on Rails developer search.</p>

  <hr>

  <h2> RubyNow is Here to Help</h2>
    <p>If you have questions, please reach out. I’ve recently taken over RubyNow and have a background as an active Rails developer, entrepreneur who’s hired many developers, and as a reluctant recruiter, asked by my many technology friends who need help building out the amazing technologies that we are so lucky to be surrounded by.</p>
  </div>
</div>


<div class="span-4 last" id="sidebar">
  
  <div class="span-4 last">

    <hr class="space">
    <h3>Share this Article:</h3>
    <br>
    <span class="st_email" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets email">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span>Email a Friend
    <hr>
    <span class="st_twitter" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets twitter">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span>Tweet this article
    <hr>
    <span class="st_facebook" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets facebook">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span>Share on Facebook
    <hr>
    <span class="st_sharethis" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets sharethis">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span>Other Options
    <hr>
    <!-- Place this tag where you want the +1 button to render -->
<div style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;" id="___plusone_0"><iframe width="100%" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" id="I0_1376460281797" name="I0_1376460281797" src="https://apis.google.com/u/0/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;origin=http%3A%2F%2Fjobs.rubynow.com&amp;url=http%3A%2F%2Fjobs.rubynow.com%2Ffind-a-rails-developer&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.FnuSY3FzKbg.O%2Fm%3D__features__%2Fam%3DEQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTPBytCzQR1yOCmHcAdWfRjP5nGCWA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&amp;id=I0_1376460281797&amp;parent=http%3A%2F%2Fjobs.rubynow.com&amp;pfname=&amp;rpctoken=29078611" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div>

<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

    <hr class="space">
    <hr class="space">
    <hr class="space">


    <h3>Post a Ruby on Rails Job...</h3>
    <div style="font-size:1.25em;" class="quiet">
      Posting on a niche Rails jobs board is one of the best ways to get top Rails developers fast. 
    </div>
    <div class="span-3" id="intro-button-line">
       <a title="Post a new job" class="button inline" href="http://jobs.rubynow.com/post/jobs/new">Post a Job</a> 
    </div>
    <div style="margin:0 7px 20px 0px; font-size:1.25em;" class="left">
        or learn more about <b><br><a href="http://jobs.rubynow.com/why-use-rubynow">Why RubyNow?</a></b>
    </div>
 

  </div>
</div> 
</div>