<% provide(:title, 'Home') %>
<div id="intro-box" class="span-24">
	<div class="span-11 colborder" id="intro">
		<h2>Find a Rails Developer</h2>
		<div style="font-size:1.25em;" class="quiet">  	
			<strong>Since 2005</strong>, RubyNow has been the trusted Ruby job board with over <strong>5,370+ job posts</strong>. Get expert recruiting <strong>advice worth $250</strong>, email your job to our opt-in developer list, and broadcast it on RubyNow, Twitter, Facebook &amp; RSS.
		</div>

		<div class="span-3" id="intro-button-line">
			 <a title="Post a new job" class="button inline" href="http://jobs.rubynow.com/post/jobs/new">Post a Job</a> 
		</div>
		<div style="font-size:1.25em;" class="span-7">
			<div style="margin:14px 7px 20px 0px" class="left">
				or <b><a href="http://jobs.rubynow.com/why-use-rubynow">learn more about RubyNow</a></b>
			</div>
		</div>
	</div>
	<div class="span-11 last" id="needadev">
		<h2>Ruby Contractors Available Now</h2>

		<div style="font-size:1.25em;" class="quiet">
			Our contractors are available to start working on your project for $30 and up per hour. We screen through thousands of candidates a year to find you skilled contractors in Rails, Android, HTML/CSS. Send us an e-mail to find out more.
		</div> 
		<div style="font-size:1.25em;margin-top:14px" class="append-1 right">
			Email: <a href="mailto:helpnow@rubynow.com">helpnow@rubynow.com</a>
		</div> 
	</div>
	<hr>
	<div class="span-24 last" id="jobs-list">
  		<ul class="jobs">
    
		    <li class="featured l2" id="job_6272">
		      <h3><a href="http://jobs.rubynow.com/jobs/6272">Sr. Ruby/Rails developer who wants to help change lives</a> <span>at Novu LLC</span>
		        <span class="date">
		          2013-08-09 </span>
		      </h3>
		      St. Louis Park, MN
		    </li>
		    <li class="l1" id="job_6276">
		      <h3><a href="http://jobs.rubynow.com/jobs/6276">Ruby on Rails Engineer</a> <span>at Podomatic</span>
		        <span class="date">
		          2013-08-09 </span>
		      </h3>
		      SOMA, San Francisco, CA
		    </li>
		    <li class="l1" id="job_6274">
		      <h3><a href="http://jobs.rubynow.com/jobs/6274">Responsive Fan Page Generator - think Myspace &amp; About.me combined</a> <span>at Recode</span>
		        <span class="date">
		          2013-08-07 </span>
		      </h3>
		      Spain, Ibiza, Spain
		    </li>
		    <li class="l1" id="job_6271">
		      <h3><a href="http://jobs.rubynow.com/jobs/6271">Senior Software Engineer</a> <span>at RBM Technologies</span>
		        <span class="date">
		          2013-08-02 </span>
		      </h3>
		      Cambridge, MA
		    </li>
		    <li class="l1" id="job_6268">
		      <h3><a href="http://jobs.rubynow.com/jobs/6268">Junior or Middleweight Ruby on Rails developer</a> <span>at dxw</span>
		        <span class="date">
		          2013-07-31 </span>
		      </h3>
		      United Kingdom, London
		    </li>
		    <li class="featured l2" id="job_6267">
		      <h3><a href="http://jobs.rubynow.com/jobs/6267">Software Engineer - Ruby on Rails</a> <span>at In-Q-Tel</span>
		        <span class="date">
		          2013-07-31 </span>
		      </h3>
		      Arlington, VA
		    </li>
		    <li class="l1" id="job_6266">
		      <h3><a href="http://jobs.rubynow.com/jobs/6266">Web Application Architect</a> <span>at Intuit</span>
		        <span class="date">
		          2013-07-29 </span>
		      </h3>
		      Mountain View, CA
		    </li>
		    <li class="featured l2" id="job_6265">
		      <h3><a href="http://jobs.rubynow.com/jobs/6265">Web Developer - We're talking to you!</a> <span>at Perceptive Software</span>
		        <span class="date">
		          2013-07-27 </span>
		      </h3>
		      San Francisco
		    </li>
		    <li class="featured l2" id="job_6263">
		      <h3><a href="http://jobs.rubynow.com/jobs/6263">Data Entry/Front Desk clerk</a> <span>at Wellness Corporate Solutions</span>
		        <span class="date">
		          2013-07-25 </span>
		      </h3>
		      Memphis TN
		    </li>
		    <li class="l1" id="job_6260">
		      <h3><a href="http://jobs.rubynow.com/jobs/6260">Sr Ruby on Rails Architect /Lead</a> <span>at Tekforce Corp</span>
		        <span class="date">
		          2013-07-18 </span>
		      </h3>
		      palo Alto,CA
		    </li>
		    <li class="featured l2" id="job_6256">
		      <h3><a href="http://jobs.rubynow.com/jobs/6256">Sr. Front End Developer</a> <span>at Move Inc</span>
		        <span class="date">
		          2013-07-15 </span>
		      </h3>
		      San Jose, CA
		    </li>
		    <li class="l1" id="job_6249">
		      <h3><a href="http://jobs.rubynow.com/jobs/6249">Senior Ruby on Rails Developer</a> <span>at Econsultancy</span>
		        <span class="date">
		          2013-07-03 </span>
		      </h3>
		      United Kingdom, London
		    </li>
		    <li class="l1" id="job_6247">
		      <h3><a href="http://jobs.rubynow.com/jobs/6247">Ruby coders OR exp. coders willing to learn Ruby - NYC</a> <span>at Medidata Solutions</span>
		        <span class="date">
		          2013-07-01 </span>
		      </h3>
		      New York
		    </li>

  		</ul>
	</div>
</div>	