<% provide(:title, 'Why Rubynow') %>
<div id="whyrubynow">
  <div class="span-24 last">
      <h1>5 Reasons to Post on RubyNow </h1>
      <br>
      <div class="span-24">
        <div class="span-3">
          <img style="width:60%; float: center; margin-top:15px;" src="images/icon-03.png">
        </div>
        <div class="span-20">
          <h3><b>1. A Big Megaphone (Email, Twitter, Facebook &amp; RSS)</b></h3>
          <ul>
            <li>We consistently rank in the top 5 results on Google for queries like “Ruby jobs” and “Rails jobs.” </li>
            <li>Every job posting automatically sends an e-mail to our list of opt-in Ruby and Rails developers and simultaneously posts to our Twitter, RSS, and Facebook.</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="span-24">
        <div class="span-3">
          <img style="width:60%; float: center; margin-top:25px;" src="images/icon-04.png">
        </div>
        <div class="span-20">
          <h3><b>2. Trusted by Industry Leaders, Trusted by You</b></h3>
          <ul>  
            <li>Industry leaders like New Relic, Pivotal Labs, Mashable, Hashrocket, and Zendesk are just some of the firms that have posted their jobs to RubyNow over the past 8 years.</li>
            <li>Since 2005, we’ve had 5,370+ programming positions. Many job posters are refered to us by Rails developers who look to the board for their next Rails job. 
          </li></ul>
        </div>
      </div>
      <hr>
      <div class="span-24">
        <div class="span-3">
          <img style="width:60%; float: center; margin-top:15px;" src="images/icon-05.png">
        </div>
        <div class="span-20">
          <h3><b>3. Serving the Rails Community since 2005</b></h3>
          <ul>
            <li>For 8 years, Rails developers have been opting to get notifications for the jobs posted to this site. That means a great mix of experienced and junior developers and a lot of people interested in your Rails job post.</li>
            <li>We've got developers in New York, San Francisco, Chicago, London, and everywhere in between.</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="span-24">
        <div class="span-3">
          <img style="width:60%; float: center; margin-top:25px;" src="images/icon-02.png">
        </div>
        <div class="span-20">
          <h3><b>4. Expert Advice from Steve Robinson PhD</b></h3>
          <ul>          	          
            <li>With each premium post, you get a 30-minute consultation with <%= link_to "Steve",    'http://jobs.rubynow.com/get-expert-rails-recruitment-advice' %>, founder of a <%= link_to "top recruitment firm Us",    'http://www.elmtalent.com' %>. Get the quality advice they seek from him for your search.</li>
            <li>How should you structure your tech search? Weigh different skills and abilities? Scope and message your opportunity? Steve can help you with all these questions and more.</li>
          </ul>
        </div>
      </div> 
      <hr>
      <div class="span-24">
        <div class="span-3">
          <img style="width:60%; float: center; margin-top:5px;" src="images/icon-06.png">
        </div>
        <div class="span-20">
          <h3><b>5. We're Happy When You Are</b></h3>
          <ul>
            <li>We care. We want to make sure you are happy with the value you get from RubyNow.</li>
            <li>We respond promptly to all questions and comments you might have.</li>
          </ul>

          
          <%= link_to "Post to RubyNow",    '/post/jobs/new', class:"button inline", title:"Post Now", style:"float: right;" %>
        </div>
      </div>

      <div class="span-24">
        </div>
        
  </div>
</div>
