<li>
  <span class="content"><%= jobpost.post_title %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(jobpost.created_at) %> ago.(<%= jobpost.created_at.strftime("%a %b %d %Y  %H:%M:%S") %>)
  </span>
</li>