<div class="span-24 last" id="footer">
			 
  <%= link_to "Privacy Policy",    privacypolicy_path %> |
  <%= link_to "Terms of Use",    termsofuse_path %> |
  <%= link_to "Contact Us",    contactus_path %>	
  <br>
  RubyNow.com. All rights reserved 2005 - 2013.
</div>